<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>

<body>
	 {(parital/nav.html)}
    <div class="container" id='app'>
        <div class="row">
            <div class="col-md-8">
               <div class="row">
               		<div class="panel panel-default">
               			<div class="panel-heading">
               				<h3 class="panel-title" v-text="echart_title">Panel title</h3>
               			</div>
               			<div class="panel-body" id='echart' style="min-height: 400px;">
               				
               			</div>
               		</div>
               </div>
            </div>
            <div class="col-md-3 pull-right">
            	<ul class="list-group" >
            		<template v-for="item in jlr_list">
            		<li class="list-group-item" v-text="item.cpy_id + '------' + item.jlr "></li>
            		</template>
            	</ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/jq.js"></script>
<script type="text/javascript" src='/static/js/bootstrap.min.js'></script>
<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="/static/js/timeline.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
<script type="text/javascript" src='/index/i666'></script>
<script type="text/javascript">

	new Vue({
		el:"#app",
		data:{
			jlr_list:[],
			echart_title: '股票代码' + code
		},methods:{
			loadJlr: function(){
				var self = this;
				$.getJSON('/jlr', {timesort: new Date().getTime()}, function(json, textStatus) {
			self.jlr_list = [];
			for (var i = 0; i < json.length; i++) {
				self.jlr_list.push({
					cpy_id:json[i],
					jlr:parseFloat(json[i+1]).toFixed(2)
				})
				i++;
			}
			console.log(self.jlr_list);
		});
			}
		},
		mounted:function(){
			this.loadJlr();
			setInterval(this.loadJlr, 3000);
		}
	});
	var option = {
	title:{
		text: '股票代码' + code
	},
	legend: {
        data:['涨幅','逆势进货','逆势出货','逆势jlr'],
        show: true
    },
    tooltip : {
        trigger: 'axis'
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            splitLine: { show: !0
, lineStyle: { color: "#eee" } },
            axisLine: { show: !1 },
            data : timeLine
        }
    ],
    yAxis : [
        {
            type : 'value',
            scale: true,
            splitNumber: 10,
            splitLine: { show: !0, lineStyle: { color: "#eee" } },
            axisLabel : {
                formatter: '{value}'
            }
        }
    ],
    series : [
        {
            name:'涨幅',
            type:'line',
            data:zf,
            itemStyle: { normal: { lineStyle: { color: "#029ACF" } } },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'逆势进货',
            type:'line',
            data:nxjlrjh,
            itemStyle: { normal: { lineStyle: { color: "#039ACF" } } },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
          {
            name:'逆势出货',
            type:'line',
            data:nxjlrch,
            itemStyle: { normal: { lineStyle: { color: "#149ACF" } } },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
         {
            name:'逆势jlr',
            type:'line',
            data:nxjlr,
            itemStyle: { normal: { lineStyle: { color: "#229ACF" } } },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }

    ]
};

     var myChart = echarts.init(document.getElementById('echart')); 
                
       
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
 

   // $('[data-hover="dropdown"]').dropdownHover();

</script>
</html>
